body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.orange{
    color: orange;
}
h1{
    font-size: 50px;
}
.welcome{
    width: 50%;
    padding-left: 10%;
    float: left;
    
    
    
    
}
.mazhar{
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    background-image: 40%;

}
.middle{
    display: flex;
    margin-top: 100px;
    padding: 40px;
}
.buton{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.welcome img{
    width: 100%;
}