body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.orange{
    color: orange;
}
h1{
    font-size: 50px;
}
.welcome{
    width: 50%;
    padding-left: 10%;
    display: float;
    
    
    
    
}
.mazhar{
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    background-image: 40%;

}
.middle{
    display: flex;
    margin-top: 100px;
    padding: 40px;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.buton{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.welcome img{
    width: 100%;
}
.web{
    display: flex;
    padding: 10px;
    
}
.third{
    margin-top: 150px;
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#fullstack{
    border-left: blue 5px solid;
    width: 50%;
    padding: 20px;
    box-shadow:10px 5px 5px black;}
#baby{
    margin-left: 100px;
    border-left: chocolate solid 5px;
    width: 50%;
    padding: 50px;
    box-shadow:10px 5px 5px black;
}
footer{
    text-align: center;
    margin-top: 150px;
}